@import "https://shpilson.github.io/istore/styles/header.css";
@import "https://shpilson.github.io/istore/styles/caption.css";
@import "https://shpilson.github.io/istore/styles/categories.css";
/* Фон */

.wrapper, .container-fluid, .header-wrapper, .navigation-wrapper, body .footer .footer-meta {
    background-color: #d1e7cd !important;
}

/* Product-card - Price Actions */

body .wrapper .page-section .products.grid .product-item .thumbnail .price_actions.upper_price_actions {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    margin-top: 20px !important;
}

/* Product-card - Add To Cart */

.add_to_cart button span {
    text-transform: capitalize !important;
    font-weight: normal !important;
    font-size: 16px !important;
}

body.wide.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button, body.wide.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper>button {
    background: transparent !important;
    color: var(--color-custom-theme) !important;
    border: 1px solid var(--color-custom-theme);
    border-radius: var(--btn-border-radius);
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body.wide.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover, .thumbnail .add_to_wishlist button:hover, .thumbnail .remove_from_wishlist button:hover {
    background: var(--btn-hover) !important;
    color: white !important;
}

body.wide.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:active, .thumbnail .add_to_wishlist button:active, .thumbnail .remove_from_wishlist button:active {
    background: var(--btn-active) !important;
    color: white !important;
}

/* Product-card - Color Buttons */

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity {
    border-color: var(--color-custom-theme) !important;
    border-radius: 4px !important;
}

.thumbnail .add_to_wishlist button, .thumbnail .remove_from_wishlist button {
    background-color: #ebebeb !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity i {
    color: var(--color-custom-theme) !important;
    padding: 15px !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity input.quantity_field {
    color: var(--color-custom-theme) !important;
}

/* Product-card */

body.ru.ltr .wrapper .page-section .products.grid .product-item {
    border: none !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    top: -40px !important;
}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
    margin: 20px 0 30px !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    text-align: center !important;
    line-height: 1.3;
}

.caption-title a {
    font-weight: normal;
}

.share_page_wrapper {
    display: none !important;
}

.product-item .bx-viewport .item.only_thumb, .product-item .bx-viewport .product-single .product_slide {
    height: 550px !important;
}

.product-item .bx-viewport .item.only_thumb .zoomHolder, .product-product .product-single .product-thumbnails a img {
    height: 100%;
}

.product-item .bx-viewport .product-single .product_slide, .product-item .bx-viewport .item.only_thumb .zoomHolder img, .product-product .product-single .product-thumbnails a img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
}

.product-product .product-single .product-thumbnails>div {
    height: 150px;
}

.product-product .product-single #bx-pager .bx-pager-link {
    height: inherit;
}

.bx-viewport .product-item .thumbnail .caption {
    margin-bottom: 10px !important;
}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
    min-height: 35px;
    max-height: 35px;
}

body.product-product .content-area>section>div>div>div.col-12.col-lg-6.single_image.bx-slider-wrapper.bx-off>div.item.only_thumb.no_images>div.mobile_wishlist>button {
    display: none !important;
}

body .section-title.section-title-lg {
    height: auto !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item {
    padding-top: 0 !important;
}

@media (max-width: 576px) {
    body .product-item .hide_on_mobile {
        display: block !important;
    }
    body.theme_11.mobile_two_columns .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
        top: -97px !important;
    }
    body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .caption {
        margin-bottom: 19px !important;
    }
    .mobile_two_columns .products .thumbnail .caption .caption-title {
        font-size: 11px !important;
    }
    .product-item .spinner-grow.spinner-grow-sm {
        display: none !important;
    }
}

#home>div>div.content-area>section>div>div>div:nth-child(2)>div.table_holder {
    display: none !important;
}

/* ... */

.thumbnail .media-link {
    background-color: #FFF;
}