@import "https://shpilson.github.io/istore/styles/header.css";
@import "https://shpilson.github.io/istore/styles/caption.css";
@import "https://shpilson.github.io/istore/styles/categories.css";
@import "https://shpilson.github.io/istore/styles/product-card.css";
@import "https://shpilson.github.io/istore/styles/map.css";
@import "https://shpilson.github.io/istore/styles/footer.css";
/* Фон */

.wrapper, .container-fluid, .header-wrapper, .navigation-wrapper, body .footer .footer-meta {
    background-color: #d1e7cd !important;
}

/* Icons */

.fa-user:before {
    content: "\f2bd" !important;
}

.fa-shopping-cart:before {
    content: "\f290" !important;
}

body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper, body.theme-gray.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart, body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
